body {
    background-color: #c0d667;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: green;
}
h1{  
    text-align: center;
    font-size: 60px;
}
p{
    text-align: center;
    font-size: 30px;
}
a:link{
    color: green;
}
a:visited{
    color: green;
}
a:hover{
    color: aliceblue;
}
table, tr, th, td{
    border: 2px solid black ;
    border-collapse: collapse;
    margin: 3px;
    width: auto;
}
td{
    text-align: center;
    font-weight: bold;
}
tr{
    height: 70px;
}

nav{
    width: 100%;
    font-size: 50px;
    padding: 10px 10px;
}
nav p{
    width: 100%;
    font-size: 50px;
    padding: 10px 10px;
}

.filter{
    float: left;
    width: 15%;
    font-size: large;
}

.table{
    float: center;
}
form{
    display: table;
    font-weight: bold;
}
form p{
    display: table-row;
    font-size: 20px;
    text-align: left;
}
form label, select{
    display: table-cell;
    margin: 3px;
}

.question{
    float: left;
    width: 90%;
    height: 350px;
    top: 150px;
    left: 150px;
}

.upvote{
    float: left;
    width: 8%;
    height: 600px;
    text-align: center;
    border-left-style: solid;
}
.center{ 
    width: 100%;
}
