
body {
    background-image:url(/static/css/maxresdefault.jpg);
    max-width: 100%;

    color: black;

}

.button1 {
  display: inline-block;
  border-radius: 4px;
  background-color: #429CBC;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 30px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6)
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #429CBC;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6)
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



.Title_style{
  display: inline-block;
  border-radius: 4px;
  background-color: #2A317C;
  background:rgba(60,60,120,0.5);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 426px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6)
}

.Title_style1{
  display: inline-block;
  border-radius: 4px;
  background-color: #326BB5;
  background:rgba(60,60,120,0.5);;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 427px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6)
}

.Title_style1{
  display: inline-block;
  border-radius: 4px;
  background-color: #326BB5;
  background:rgba(60,60,120,0.5);;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 426px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6)
}

.question_style{
  display: inline-block;
  border-radius: 4px;
  background-color: #326BB8;
  background:rgba(60,60,120,0.5);;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 1200px;
  transition: all 0.5s;
  margin: 5px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6)
}

.vote_style{
  display: inline-block;
  border-radius: 4px;
  background-color: #326BB5;
  background:rgba(60,60,120,0.5);;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 580px;
  transition: all 0.5s;
  margin: 5px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6)
}

.answer_style{
  display: inline-block;
  border-radius: 4px;
  background-color: #326BB5;
  background:rgba(60,60,120,0.5);;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 300px;
  transition: all 0.5s;
  margin: 5px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6)
}

.comment_style{
  display: inline-block;
  border-radius: 4px;
  background-color: #326BB5;
  background:rgba(60,60,120,0.5);;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  margin: 5px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6)
}

.Title_style3{
  display: inline-block;
  border-radius: 4px;
  background-color: #326BB5;
  background:rgba(60,60,120,0.5);;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 426px;
  transition: all 0.5s;
  margin: 5px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6)
}

.Title_style4{
  display: inline-block;
  border-radius: 4px;
  background-color: #326BB5;
  background:rgba(60,60,120,0.5);;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 40px;
  padding: 10px;
  width: 427px;
  transition: all 0.5s;
  margin: 5px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6)
}

.Title_style5{
  display: inline-block;
  border-radius: 4px;
  background-color: #326BB5;
  background:rgba(60,60,120,0.5);;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  width: 1088px;
  transition: all 0.5s;
  margin: 5px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6)
}

.sub_time_view{
  display: inline-block;
  border-radius: 4px;
  background-color: #326BB5;
  background:rgba(60,60,120,0.5);;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 50px;
  transition: all 0.5s;
  margin: 5px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6)
}


h1_center{

position: relative;

left: 40%;

}