{% extends 'index.html' %}
{% block content %}
    <h1>Add Question
    </h1>
    <form enctype="multipart/form-data" action="{{ url_for('question_api.route_add_question')}}" method="POST">
        <p>
            <label for="title">Title</label>
            <textarea name="title"></textarea>
        </p>
        <br>
        <p>
            <label for="question">Question</label>
            <textarea name="message"></textarea>
        </p>
        <br>
        <p>  
            <label>Picture</label>
            <input type="file" name="image">
        </p>
        <br>
        <p>
            <input type="submit" value="Add Question">
        </p>
    </form>
{% endblock %}