{%extends "index.html"%}
{%block content%}
<h1 class="display-1" style="text-align: center;">Add Comment</h1>
<p style="text-align: center;">{{ answer['message'] }}</p>
<form enctype="multipart/form-data"action="{{url_for('comment_api.comment_add_to_answer',answer_id = answer['id'])}}" method="POST" style="margin: 0 30% 0 30%;">
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
    </div>
    <div style="text-align:center;">
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </div>
</form>
{%endblock%}