{% extends 'index.html' %}
{% block content %}
<h1 class="display-1" style="text-align: center;">Edit Answer</h1>
<form enctype="multipart/form-data" action="{{url_for('answer_api.answer_edit', answer_id = answer['id'])}}"method="POST" style="margin: 0 30% 0 30%;">
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message">{{answer['message']}}</textarea>
    </div>
        <label>Picture</label>
        <input type="file" name="image">
    <div style="text-align:center;">
        <button type="submit" class="btn btn-primary">Edit Comment</button>
    </div>
</form>
{% endblock %}