{% extends 'index.html' %}
{% block content %}
<h1>Edit Question</h1>
<form enctype="multipart/form-data" action="{{url_for('question_api.question_edit', id = question['id'])}}"
    method="POST">
    <p>
        <label for="title">Title</label>
        <textarea name="title" cols="30" rows="10">{{ question['title'] }}</textarea>
    </p>
    <br>
    <p>
        <label for="question">Question</label>
        <textarea name="message" cols="30" rows="10">{{ question['message'] }}</textarea>
    </p>
    <br>
    <p>
        <label>Picture</label>
        <input class="button" type="file" name="image">
    </p>
    <br>
    <p>
        <input class="button" type="submit" name='submit' value="Edit">
    </p>
</form>
{% endblock %}