<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>AskMate</title>

    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% endblock %}
</head>


<body>
    <nav>
        <a class="button" href="{{url_for('home')}}" style="vertical-align:middle"><span>Home </span></a>
        <a class="button" href="{{url_for('list_questions')}}" style="vertical-align:middle"><span>Questions</span></a>
        <a class="button" href="{{url_for('about_us')}}" style="vertical-align:middle"><span>About Us</span></a>
    </nav>




    {%block content%}
    <h1 class="Title_style4">Welcome to AskMate!</h1>
    <br>
    <p class="Title_style5">Here you can post a Question about any topic you want and hope people will acually answer
        you.
        You can provide answer for other users as well so you all become satisfied with our service.
        Remeber to provide a decent answer otherwise you can be downvoted into oblivion and your answer/question will be
        deleted! </p>

    {% for question in questions %}
    <table style="width: 100%;">
        <tr>

            <td class="Title_style3" style="width: 25%;">{{question['title']}}</td>
            <td class="Title_style3">{{question['message']}}</td>
        </tr>
    </table>
    {% endfor %}
    {%endblock%}
</body>

</html>