{% extends "index.html" %}
{% block content %}

{% if session['user'] %}
<a class="button" href="{{url_for('question_api.question_add')}}" style="vertical-align:middle"><span>ADD QUESTION</span></a>
{%endif%}
<form action="{{url_for('search', search=search)}}">
    <input name="search" type="text">
    <button type="submit">Search</button>
</form>
<div class="table">
    <br>
    <table class="center">
        <tr>
            <th>Title<a href="{{url_for('list_questions', order_by = 'title', order_direction = 'asc')}}"><img
                        src="https://img.icons8.com/ios-glyphs/512/long-arrow-up.png" width="10" height="10"></a><a
                    href="{{url_for('list_questions', order_by = 'title', order_direction = 'desc')}}"><img
                        src="https://img.icons8.com/ios-glyphs/512/long-arrow-down.png" width="10" height="10"></a></th>
            <th>Submission Time<a
                    href="{{url_for('list_questions', order_by = 'submission_time', order_direction = 'asc')}}"><img
                        src="https://img.icons8.com/ios-glyphs/512/long-arrow-up.png" width="10" height="10"></a><a
                    href="{{url_for('list_questions', order_by = 'submission_time', order_direction = 'desc')}}"><img
                        src="https://img.icons8.com/ios-glyphs/512/long-arrow-down.png" width="10" height="10"></a></th>
            <th>Message<a href="{{url_for('list_questions', order_by = 'message', order_direction = 'asc')}}"><img
                        src="https://img.icons8.com/ios-glyphs/512/long-arrow-up.png" width="10" height="10"></a><a
                    href="{{url_for('list_questions', order_by = 'message', order_direction = 'desc')}}"><img
                        src="https://img.icons8.com/ios-glyphs/512/long-arrow-down.png" width="10" height="10"></a></th>
            <th>View Numbers<a
                    href="{{url_for('list_questions', order_by = 'view_number', order_direction = 'asc')}}"><img
                        src="https://img.icons8.com/ios-glyphs/512/long-arrow-up.png" width="10" height="10"></a><a
                    href="{{url_for('list_questions', order_by = 'view_number', order_direction = 'desc')}}"><img
                        src="https://img.icons8.com/ios-glyphs/512/long-arrow-down.png" width="10" height="10"></a></th>
            <th>Vote Numbers<a
                    href="{{url_for('list_questions', order_by = 'vote_number', order_direction = 'asc')}}"><img
                        src="https://img.icons8.com/ios-glyphs/512/long-arrow-up.png" width="10" height="10"></a><a
                    href="{{url_for('list_questions', order_by = 'vote_number', order_direction = 'desc')}}"><img
                        src="https://img.icons8.com/ios-glyphs/512/long-arrow-down.png" width="10" height="10"></a></th>
        </tr>
        {% for index in questions %}

        <tr>
            <td><a href="{{url_for('question_api.question', id=index['id'])}}" class="Title_style1">{{
                    index['title'] }}</a></td>
            <td>{{ index['submission_time'] }} </td>
            <td class="Title_style3">{{ index['message'] }}</td>
            <td>{{ index['view_number'] }}</td>
            <td>{{ index['vote_number'] }}</td>
        </tr>


        {% endfor %}


        {%endblock%}