{% extends "index.html" %}
{% block content %}
<h1 class="Title_style1" style="text-align:center;">{{ question['title'] }} </h1>
{{user_name}}
{% for tag in tags %}
<h3>
        #{{ tag['name'] }} 
        {%if question['user_id'] == session['user']['id']%}
        <a href="{{url_for('question_api.question_delete_tag',question_id = question['id'], tag_id = tag['id'])}}">
                [x]
        </a>
        {%endif%}
</h3>
{% endfor %}
{%if question['user_id'] == session['user']['id']%}
        <p class="button">
                <a href="{{url_for('question_api.question_delete', id=question['id'])}}">Delete Question</a>
        </p>
        <p class="button">
                <a href="{{url_for('question_api.question_edit', id=question['id'])}}">Edit Question</a>
        </p>
        <p class="button">
                <a href="{{url_for('question_api.question_add_tag', question_id = question['id'])}}">Add a Tag</a>
        </p>
{%endif%}
        <br>
        <p class="question_style"><span style="font-size: 30px">{{ question['message'] }}</span></p>
        <br>
        <p>
                <img src="{{url_for('image', filename=question['image'])}}" onerror='this.style.display = "none"'>
        </p>
        <p class="vote_style">
                Vote Number: {{question['vote_number']}}
        </p>
{%if question['user_id'] != session['user']['id']%}
        {%if question['id'] == session['question_vote']['question_id'] and session['question_vote']['voted'] == 1%}
                <td class="button1">
                        <button style="background-color: green">+</button>
                </td>
                <td class="button1">
                        <a href="{{url_for('question_api.question_vote_down', question_id=question['id'], )}}"><button>-</button></a>
                </td>
        {%elif question['id'] == session['question_vote']['question_id'] and session['question_vote']['voted'] == -1%}
                <td class="button1">
                        <a href="{{url_for('question_api.question_vote_up', question_id=question['id'], )}}"><button>+</button></a>
                </td>
                <td class="button1">
                        <button style="background-color: red">-</button>
                </td>
        {%else%}
                <td class="button1">
                        <a href="{{url_for('question_api.question_vote_up', question_id=question['id'], )}}"><button>+</button></a>
                </td>
                <td class="button1">
                        <a href="{{url_for('question_api.question_vote_down', question_id=question['id'], )}}"><button>-</button></a>
                </td>
        {%endif%}
        
{%endif%}
        <p class="vote_style">Viewed: {{question['view_number']}}

        </p>
        <br>
{%if question['user_id'] != session['user']['id']%}
        <p class="button">
                <a href="{{url_for('answer_api.answer_add', id=question['id'])}}">Add Answer</a>
        </p>
{%endif%}
<p class="button">
        <a href="{{url_for('comment_api.comment_add_to_question',question_id = question['id'])}}">Add Comment</a>
</p>


{% for comment in comments %}
{% if comment['question_id'] == question['id'] %}




<table style="width: 100%;">
    <tr>
        {%if comment['user_id'] == session['user']['id']%}
        <th class="button">
                <a href="{{url_for('comment_api.comment_delete', comment_id = comment['id'])}}">Delete a comment</a>
        </th>
        <td class="button">
                <a href="{{url_for('comment_api.comment_edit', comment_id = comment['id'])}}">Edit a comment</a>
        </td>
        {%endif%}
        <th class="button">{{comment['message']}}</th>
        <th class="button">{{comment['submission_time']}}</th>
        <th class="button">{{comment['edited_count']}}</th>
    </tr>
</table>
{% endif %}
{% endfor %}
<br>
<table>
        {% for answer in answers %}
                <tr>
                {%if question['user_id'] == session['user']['id'] and answer['accepted'] == 0 %}
                        <td class="button">
                                <a href="{{url_for('answer_api.answer_accept', answer_id = answer['id'])}}">Accept an answer</a>
                        </td>
                {%elif answer['user_id'] == session['user']['id'] and answer['accepted'] == 1 %}
                        <td class="button">
                                <a href="{{url_for('answer_api.answer_accept', answer_id = answer['id'])}}">Accept an answer</a>
                        </td>
                {%elif answer['accepted'] == 2 %}
                        <td class="button">
                                ANSWER ACCEPTED!
                        </td>
                {%endif%}
                        <td class="answer_style" style="font-size: 30px">{{ answer['message'] }}</td>
                {%if answer['user_id'] == session['user']['id']%}
                        <td class="button">
                                <a href="{{url_for('answer_api.answer_delete', answer_id=answer['id'])}}">Delete</a>
                        </td>
                        <td class="button">
                                <a href="{{url_for('answer_api.answer_edit', answer_id=answer['id'])}}">Edit</a>
                        </td>
                {%endif%}
                        <td><img src="{{url_for('image', filename=answer['image'])}}" onerror='this.style.display = "none"'></td>
                        <td>{{ answer['vote_number']}}</td>
                
                {%if answer['user_id'] != session['user']['id']%}
                        {%if answer['id'] == vote['answer_id'] and vote['voted'] == 1%}
                                <td class="button1">
                                        <button style="background-color: green">+</button>
                                </td>
                                <td class="button1">
                                        <a href="{{url_for('answer_api.answer_vote_down', answer_id=answer['id'], voted_answer_id=vote['id'] )}}"><button>-</button></a>
                                </td>
                        {%elif answer['id'] == vote['answer_id'] and vote['voted'] == -1%}
                                <td class="button1">
                                        <a href="{{url_for('answer_api.answer_vote_up', answer_id=answer['id'], voted_answer_id=vote['id'] )}}"><button>+</button></a>
                                </td>
                                <td class="button1">
                                        <button style="background-color: red">-</button>
                                </td>
                        {%else%}
                                <td class="button1">
                                        <a href="{{url_for('answer_api.answer_vote_up', answer_id=answer['id'], )}}"><button>+</button></a>
                                </td>
                                <td class="button1">
                                        <a href="{{url_for('answer_api.answer_vote_down', answer_id=answer['id'], )}}"><button>-</button></a>
                                </td>
                        {%endif%}
                {%endif%}

                
                                        </tr>
                                        <tr>
                                                <td class="button">
                                                        <a href="{{url_for('comment_api.comment_add_to_answer', question_id = question['id'], answer_id = answer['id'])}}">Add a comment</a>
                                                </td>
                                        </tr>
                        {% for comment in comments %}
                                        {% if comment['answer_id'] == answer['id'] %}
                                        <tr>
                                        <td class="button">
                                                <a href="{{url_for('comment_api.comment_delete', comment_id = comment['id'])}}">Delete a comment</a>
                                        </td>
                                        <td class="button">
                                                <a href="{{url_for('comment_api.comment_edit', comment_id = comment['id'])}}">Edit a comment</a>
                                        </td>
                                        <td class="comment_style">{{comment['message']}}</td>
                                        <td class="comment_style">{{comment['submission_time']}}</td>
                                        <td class="comment_style">{{comment['edited_count']}}</td>
                                        </tr>
                                        {% endif %}
                        {% endfor %}
                
        {% endfor %}

    {% endblock %}