{% extends 'index.html' %}
{%block content%}
<form action="{{url_for('user_api.registration')}}" method="POST" style="margin: 0 30% 0 30%;">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="user_email" placeholder="example@gmail.com">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Username</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="user_name">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="user_password">
    </div>
    <div style="text-align:center;">
        <button type="submit" class="btn btn-primary">Create account</button>
    </div>
</form>
{%endblock%}