{% extends "index.html" %}
{%block content%}
<h1 class="display-1" style="text-align: center;">Questions</h1>
{% if session['user'] %}
<a href="{{url_for('question_api.question_add')}}"><button type="button" class="btn btn-success">AskMate!</button></a>
{%endif%}
<div class="table">
    <br>
    <table style="width: 100%;">
        <tr>
            <th>Title<a href="{{url_for('search', search=search, order_by = 'title', order_direction = 'asc')}}"><img
                        src="https://img.icons8.com/ios-glyphs/512/long-arrow-up.png" width="10" height="10"></a><a
                    href="{{url_for('search', search=search, order_by = 'title', order_direction = 'desc')}}"><img
                        src="https://img.icons8.com/ios-glyphs/512/long-arrow-down.png" width="10" height="10"></a></th>
            <th>Submission Time<a
                    href="{{url_for('search', search=search, order_by = 'submission_time', order_direction = 'asc')}}"><img
                        src="https://img.icons8.com/ios-glyphs/512/long-arrow-up.png" width="10" height="10"></a><a
                    href="{{url_for('search', search=search, order_by = 'submission_time', order_direction = 'desc')}}"><img
                        src="https://img.icons8.com/ios-glyphs/512/long-arrow-down.png" width="10" height="10"></a></th>
            <th>Message<a
                    href="{{url_for('search', search=search, order_by = 'message', order_direction = 'asc')}}"><img
                        src="https://img.icons8.com/ios-glyphs/512/long-arrow-up.png" width="10" height="10"></a><a
                    href="{{url_for('search', search=search, order_by = 'message', order_direction = 'desc')}}"><img
                        src="https://img.icons8.com/ios-glyphs/512/long-arrow-down.png" width="10" height="10"></a></th>
            <th>View Numbers<a
                    href="{{url_for('search', search=search, order_by = 'view_number', order_direction = 'asc')}}"><img
                        src="https://img.icons8.com/ios-glyphs/512/long-arrow-up.png" width="10" height="10"></a><a
                    href="{{url_for('search', search=search, order_by = 'view_number', order_direction = 'desc')}}"><img
                        src="https://img.icons8.com/ios-glyphs/512/long-arrow-down.png" width="10" height="10"></a></th>
            <th>Vote Numbers<a
                    href="{{url_for('search', search=search, order_by = 'vote_number', order_direction = 'asc')}}"><img
                        src="https://img.icons8.com/ios-glyphs/512/long-arrow-up.png" width="10" height="10"></a><a
                    href="{{url_for('search', search=search, order_by = 'vote_number', order_direction = 'desc')}}"><img
                        src="https://img.icons8.com/ios-glyphs/512/long-arrow-down.png" width="10" height="10"></a></th>
        </tr>
        {% for index in questions %}
        <tr>
            <td>
                {% if session['user']%}
                <a href="{{url_for('question_api.question', id=index['id'])}}" class="Title_style1">{{index['title'] }}</a>
                {%else%}
                {{index['title'] }}
                {%endif%}            
            </td>
            <td>{{ index['submission_time'] }}</td>
            <td>{{ index['message'] }}</td>
            <td>{{ index['view_number'] }}</td>
            <td>{{ index['vote_number'] }}</td>
        </tr>
        {% endfor %}
</div>
{%endblock%}